extends layout

block content
  h1= title
  p Hello Florian! #{title}
  p This is a (simple) Node Application that has been containerized with Docker!
  p Version: 1 
  p This view was changed and now has a different commit hash 
  p Hopefully the pipeline pulls the newest version
